[Desktop Entry]
# TRANSLATORS: Don't translate
Name=Biblioteca
Comment=Learn and prototype with GNOME technologies
Exec=biblioteca %U
Terminal=false
Type=Application
Categories=Development;GNOME;GTK;
Icon=@app_id@
# TRANSLATORS: Don't translate
Keywords=GTK;libadwaita;doc;documentation;api;manual;
DBusActivatable=true
StartupNotify=true
