.main-window,
.main-window .content-headerbar,
.main-window tabbox {
  background-color: #ffffff;
}

/* Enforce border radius */
.searchbar, .searchbar > * > * {
	border-radius: 0 0 12px 12px;
}

/*
 * From Builder's stylesheet:
 * https://gitlab.gnome.org/GNOME/gnome-builder/-/blob/45d4ec9b6f1aa2236c9bb7dfb846b35f9b959618/src/libide/gui/style.css#L33
 * Used to style the language tags for the demo entries in the Library
 */
button.pill.small {
  font-size: 0.83333em;
  border-radius: 99px;
  margin: 0;
  padding: 1px 12px;
}
